{{ define "main" }}
  {{ $defaultOrder := slice "experience" "older_experience" "skills" "education" "publications" "interests" }}
  <main>
    {{ with .Site.Params }}
      {{ $order := .resumeOrder }}
      {{ if eq $order nil }}
      {{ $order = $defaultOrder }}
      {{ end }}
      <div class="box">
        <div class="wrap">
          {{ partial "header.html" . }}
          {{ $ctx := . }}
          {{ range $order }}
          {{ partial (printf "%s.html" .) $ctx }}
          {{ end }}
          {{ partial "footer.html" . }}
        </div>
      </div>
    {{ end }}
  </main>
{{ end }}
